.mj-dialog-window {
    width:250px;
    height:120px;
    background-color: white;
    border: 1px #ddd solid;
    position:absolute;
    top:200px;
    -moz-border-radius: 5px 5px 0px 0px;
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5), 0 0 0 #727272 inset;
    -webkit-border-radius: 5px 5px 0px 0px;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5), 0 0 0 #727272 inset;
    padding: 10px;
}
.mj-dialog-windowHandler {
    width:100%;
    font-family:arial;
    color:#666;
    text-align: justify;
    padding-bottom: 2px;
    margin-bottom:5px;
}
.mj-dialog-windowMessage {
    color: black;
    font-family: arial;
    font-size: 12px;
    padding: 0px;
}

.mj-dialog-windowMessage button {
    font-family: arial;
    font-size: 13px;
}

.mj-dialog-windowHeaderText {
    white-space: nowrap;
    display: inline-block;
    font-family:arail,sans-serif;
    font-size:9pt;
    position:relative;
}

.mj-dialog-windowHeaderText a {
    text-decoration: none;
    color:#1111CC;
}

.mj-dialog-windowHeaderText a:hover {
    text-decoration: underline;
}

.mj-dialog-closeButton {
    position: absolute;
    right: 4px;
    top: 5px;
    width: 11px;
    height: 11px;
    background: transparent url('./mj-dialog-closeButton.png') 0 0 repeat-y;
    cursor: pointer;
    font-size: 6pt; /* IE hack */
}
.mj-dialog-closeButton:hover {
    background-position: 0px 11px;
}