body {
	font: 13px Arial, sans-serif;
	color: #36C;
}

#myDiv {
	height:32px;
	line-height:34px;
	background: transparent url('../images/rss.png') no-repeat right;
}

.blue {
	float:left;
	background:#3366cc;
	color:white;
	padding:10px;
	font-weight:bold;
	-webkit-border-radius:5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-box-shadow: 0px 0px 5px #666;
	-moz-box-shadow: 0px 0px 4px #666;
	text-shadow: 0px 0px 1px #9CF;
}

.white {
    float:left;
    background:#fff;
    color:3366cc;
    padding:10px;
    font-weight:bold;
    -webkit-border-radius:5px 5px 0px 0px;
    -moz-border-radius:5px 5px 0px 0px;
    -webkit-box-shadow: 0px 0px 5px #666;
    -moz-box-shadow: 0px 0px 4px #666;
    text-shadow: 0px 0px 1px #9CF;
}

#myDivGentoo {
	height:32px;
	line-height:32px;
	background: transparent url('../images/gentoo.png') no-repeat right;
}
#myDivUbuntu {
	height:32px;
	line-height:32px;
	background: transparent url('../images/ubuntu.png') no-repeat right;
}	
#myDivRss {
	height:32px;
	line-height:32px;
	background: transparent url('../images/rss.png') no-repeat right;
}
#myDivLgpl {
	height:31px;
	line-height:31px;
	background: transparent url('../images/lgpl.png') no-repeat right;
}				

.texthover:hover {
	text-decoration:underline;
	cursor:pointer;
}

.small {
	color: #666;
}
.important {
	color:#000;
	font-weight:bold;	
}