.mj-dialog-window {
    width:250px;
    height:120px;
    background-color: #D5E9FF;
    background:-moz-linear-gradient(center top , #D5E9FF, #A5D9EF) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#D5E9FF), to(#A5D9EF));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d5e9ff, endColorstr=#a5d9ef);
    border:9px white solid;
    position:absolute;
    top:200px;
    -moz-border-radius: 5px 5px 0px 0px;
    -moz-box-shadow: #999 2px 3px 5px 1px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -webkit-box-shadow: #999 2px 3px 5px 1px;
}
.mj-dialog-windowHandler {
    width:100%;
    height:22px;
    font-family:arial;
    color:#111;
    font-size:16px;
    text-align: justify;
    padding:4px;
}
.mj-dialog-windowMessage {
    color: black;
    font-family: arial;
    font-size: 12px;
    padding: 13px;
}

.mj-dialog-windowMessage button {
    font-family: arial;
    font-size: 13px;
}

.mj-dialog-windowHeaderText {
    padding-left: 3px;
    padding-top: 2px;
    white-space: nowrap;
    display: inline-block;
}

.mj-dialog-closeButton {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 11px;
    height: 11px;
    background: transparent url('./mj-dialog-closeButton.png') 0 0 repeat-y;
    cursor: pointer;
}
.mj-dialog-closeButton:hover {
    background-position: 0px 11px;
}