.stp-dialog-window {
    width:250px;
    height:120px;
    background-color: #3c3b37;
    border:1px #595959 solid;
    position:absolute;
    top:200px;
    -moz-border-radius: 3px 3px 3px 3px;
    -moz-box-shadow: #999999 1px 1px 8px 0px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -webkit-box-shadow: #999999 1px 1px 8px 0px;
}
.stp-dialog-windowHandler {
    height:24px;
    font-family:arial;
    color:white;
    font-size:12px;
    text-align: justify;
    background: #3c3b37 url('./back3.png') repeat-x;
    border-top: 1px #686864 solid;
    border-left: 1px #3c3b37 solid;
    border-right: 1px #3c3b37 solid;
}
.stp-dialog-windowMessage {
    color: black;
    font-family: arial;
    font-size: 12px;
    padding: 13px;
    background: #f2f1f0;
    border: 1px #2b2a27 solid;
    margin: 0px 1px 1px 1px;
    border-radius: 4px 4px 0px 0px;
}

.stp-dialog-windowMessage button {
    font-family: arial;
    font-size: 13px;
}

.stp-dialog-windowHeaderText {
    padding-left: 3px;
    padding-top: 4px;
    white-space: nowrap;
    display: inline-block;
}

.stp-dialog-closeButton {
    position: absolute;
    right: 3px;
    top: 2px;
    width: 24px;
    height: 18px;
    background: transparent url('./close3.png') 0 0 repeat-y;
    cursor: pointer;
}
.stp-dialog-closeButton:hover {
    background-position: 0px 18px;
}